@use "../../../styles/variables.scss" as v;

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding: 25px 0;
}

.game-container {
  display: flex;
  gap: 20px;

  @media screen and (max-width: v.$breakpoint) {
    flex-direction: column;
  }
}
