.player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

iframe {
  width: 400px;
  height: 410px;
  margin: 10px;
  &.disabled {
    opacity: 0.6;
  }
}

.frame-container {
  background-color: white;
}
